body {
  font-family: "Open Sans", serif;
  padding: 7%;
  border: 5px solid black;
}
hr {
  border: 2px solid black;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
  margin-bottom: 8px;
  color: #2f9e44;
}
h3 {
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #3d87cc;
}
.article p,
ul {
  font-size: 30px;
  margin-top: 1px;
  margin-bottom: 1px;
}
ul {
  padding-top: 5px;
  padding-bottom: 5px;
}
